.container {
    text-align: center;
}

button {
    margin-bottom: 20px;
     height: 100px;
    font-size: x-large;

}

#title {
    margin: 20px;
}

#btn-voltar{
    float: left;
    height: 30px;
    font-size: medium;
}